body {
    font-family: 'lato';
}

.row:after {
    content: "";
    display: table;
    clear: both;
    
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    padding-right: 18px;
}

button {
    background-color: transparent;
    color: blue;
}

i.vertical {
    position: relative;
    /* Adjust these values accordingly */
    padding-top: 10px;
    padding-bottom: 40px;
}

 i.hori {
    
  
    padding-left: 220px;
    padding-right: 0px;
} 
